<section class="wb-board">
	<div class="wb-toolbar">
		<button class="tbtn tbtn--primary" id="btnShare">Partager le lien</button>
	</div>

	<div
		id="board" class="wb-canvas" tabindex="0" aria-label="Whiteboard">
		<!-- Éditeur OT (Quill) -->
		<div id="editor"></div>
	</div>
</section>
