{% extends "base.twig" %}

{% block content %}
	<div id="workspaceRoot" class="wb-layout wb-layout--full" data-room-id="{{ roomId }}">
		{% include "components/whiteboard.twig" %}
		{% include "components/call.twig" %}
	</div>

	<script src="/assets/js/workspace.js"></script>
{% endblock %}
